@import './../../../../styles.scss';

@mixin borderStyle($bStyle){
    border: 2px $bStyle $w;
    border-radius: 12px;
}
@mixin fontStyle($td, $px, $ff){
    text-decoration: $td;
    font-size: $px;
    font-family: $ff;
}
@mixin posItems($sb){
    display: $f;
    justify-content: $sb;
    align-items: $c;
}
@mixin size($height, $width){
    height: $height;
    width: $width;
}
@mixin hovers($cur, $dec, $px){
    cursor: $cur;
    text-decoration: $dec $px;
}

.navbar{
    @include posItems(space-between);
    @include size(112px, 100%);
    position: absolute;
    top: 0;
}
.navbar-flower{
    @include size(64px, 64px);
    margin-left: 128px;
}
.navbar-link-sec{
    @include posItems($c);
    color: $w;
    margin-right: 128px;
}
.navbar-links{
    @include fontStyle(none, 24px, 'Raleway');
    margin: 0 24px 0 24px;
    color: $w;
    &:hover{
        @include hovers(pointer, underline, 1px); 
    }
}
.navbar-tel-sec{
    @include posItems($c);
    @include borderStyle(solid);
    background-color: #9F0908;
    padding: 12px;
    &:hover{
        @include hovers(pointer, underline, 1px);
    }
    >a{
        @include fontStyle(none, 24px, 'Raleway');
        color: $w;
    }
}
.navbar-phone{
    @include size(24px, 24px);
    margin-right: 8px;
}