@import './../../../../styles.scss';
@mixin borderStyle($bStyle){
    border: 2px $bStyle $w;
    border-radius: 12px;
}
@mixin fontStyle($td, $px, $ff){
    text-decoration: $td;
    font-size: $px;
    font-family: $ff;
}

.navbar{
    display: $f;
    position: absolute;
    justify-content: space-between;
    align-items: $c;
    top: 0;
    height: 112px;
    width: 100%;
}
.navbar-flower{
    height: 64px;
    width: 64px;
    margin-left: 128px;
}
.navbar-link-sec{
    display: $f;
    align-items: $c;
    justify-content: $c;
    color: $w;
    margin-right: 128px;
}
.navbar-links{
    margin: 0 24px 0 24px;
    color: $w;
    @include fontStyle(none, 24px, 'Raleway');
    &:hover{
        cursor: pointer;
        text-decoration: underline 1px;        
    }
}
.navbar-tel-sec{
    display: $f;
    justify-content: $c;
    align-items: $c;
    background-color: #9F0908;
    @include borderStyle(solid);
    padding: 12px;
    &:hover{
        cursor: pointer;
        text-decoration: underline 1px;
    }
    >a{
        font-size: 24px;
        color: white;
        font-family: 'Raleway';
        font-size: 24px;
        text-decoration: none;
    }
}
.navbar-phone{
    height: 24px;
    width: 24px;
    margin-right: 8px;
}