<nav class="navbar">
    <img class="navbar-flower" src="./assets/img/1_hero/PNG/sakura_logo.png" alt="flower">
    <div class="navbar-link-sec">
        <a href="#our-menu" class="navbar-links">MENU</a>
        <a href="#" class="navbar-links">LOCATION</a>
        <a href="#how-to-order" class="navbar-links">ABOUT</a>
        <div class="navbar-tel-sec">
            <img class="navbar-phone" src="./assets/img/1_hero/PNG/phone.png" alt="phone">
            <a href="tel:0176 54564534">017654564534</a>
        </div>
    </div>
</nav>
