@import './../../../styles.scss';

#how-to-order{
    display: $f;
    flex-direction: column;
    align-items: $c;
    font-family: 'raleway';
    margin: 120px 0 120px 0;
}
h2{
    display: $f;
    justify-content: $c;
    font-size: 80px;
    color: #9F0908;
    margin: 0 0 64px 0;
}
.how-to-order{
    display: $f;
    justify-content: space-around;
    width: 1080px;
}
.how-to-order-detail{
    display: $f;
    flex-direction: column;
    align-items: $c;
    >span{
        display: $f;
        font-family: 'economica';
        font-weight: bold;
        text-align: $c;
        font-size: 56px;
    }
    >img{
        width: 128px;
        height: auto;
        margin: 0 0 16px 0;
    }
}