<section id="how-to-order">
    <h2>HOW TO ORDER</h2>
    <div class="how-to-order">
        <div class="how-to-order-detail">
            <img src="./assets/img/2_section_how_to_order/PNG/noodle.png" alt="noodle">
            <span>Pick your<br>noodle</span>
        </div>
        <div class="how-to-order-detail">
            <img src="./assets/img/2_section_how_to_order/PNG/broth.png" alt="broth">
            <span>Pick your<br>broth</span>
        </div>
        <div class="how-to-order-detail">
            <img src="./assets/img/2_section_how_to_order/PNG/egg.png" alt="toppings">
            <span>Add your<br>toppings</span>
        </div>
    </div>
</section>
